@charset "utf-8";

@import url("index.css");

html {
  background: #D7EBFB;
  background: radial-gradient(at center, #D7EBFB, #65A3D9);
  background-size: 100vw 100vh;
}

.navBar {
  text-align: center;
}

.navBar a {
  font-family: 'Lucida Console';
  font-size: 23px;
  color: #333;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px dashed white;
  border-radius: 12px;
  padding: 30px 60px;
  margin: 12px;
  display: inline-block;
  justify-content: center;
  transition: 0.3s ease, 0.3s ease;
}

.navBar a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #AD6FA7;
}

.profilePhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.profilePhoto img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  object-fit: cover;
  transition: 0.3s ease, 0.3s ease;
}

.profilePhoto img:hover {
  transform: scale(1.25);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
}

p {
  font-size: x-large;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  color: rgb(32, 28, 66);
  margin-left: 20px;
  padding: 3px;
  columns:2;
}

h2 {
  color: #233d64;
  font-size: 30px;
  text-align: left;
  margin-left: 40px;
}

h3 {
  color: #31304e;
}

footer{
  background-color: #2470b354;
  color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: xx-large;
}

.smHandle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.smHandle .insta,
.smHandle .words {
  font-size:larger;
  display: inline-block;
}

.smHandle img{
  width:25px;
}

@media (max-aspect-ratio: 1/1){
    .link-image {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .profilePhoto img {
        width: 350px;
        height: 350px;
    }

h2 {
  color: #233d64;
  font-size: 50px;
  text-align: left;
  margin-left: 40px;
}

p {
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  color: rgb(32, 28, 66);
  margin-left: 20px;
  padding: 3px;
  columns:2;
}

.smHandle .insta,
.smHandle .words {
  font-size:xx-large;
  display: inline-block;
}

.navBar a {
  font-size: 40px;
}

.navBar{
padding-top:3%;
padding-bottom:3%;

}

}