@charset "utf-8";

html {
  background: #D7EBFB;
  background: radial-gradient(at center, #d6e3ee, #fdbce8);
  background-size: 100vw 100vh;
}
.navBar {
    text-align: center;
}

.navBar {
  text-align: center;
}

.navBar a {
  font-family: 'Lucida Console';
  font-size: 23px;
  color: #333;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px dashed white;
  border-radius: 12px;
  padding: 30px 60px;
  margin: 12px;

  display: inline-block;
  justify-content: center;
  transition: 0.3s ease, 0.3s ease;
}

.navBar a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #AD6FA7;
}


.skills{
  background-color: rgba(255, 255, 255, 0.493);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
}

.skills-list{
font-size: 30px;
}

.projects {
  text-align: center;
  margin: 60px 0;
  color: rgb(60, 92, 165);
}

.project-grid {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
}

.project-card {
  background: rgba(255, 255, 255, 0.562);
  border-radius: 15px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card p {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
}

.project-card img {
  width:300px;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

figcaption{
  font-size: x-large;
}

footer{
  background-color: #b3247c62;
  color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: xx-large;
}

@media (max-aspect-ratio: 1/1){
    .link-image {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

.navBar a {
  font-size: 40px;
}

.project-card p {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 40px;
}

.project-card {
  background: rgba(255, 255, 255, 0.562);
  border-radius: 15px;
  padding: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h1{
  font-size: 50px;
}

.skills-list{
  font-size: 40px;
}


.project-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.project-card p {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 40px;

}

figcaption{
  font-size: 40px;
}

}